:root {
    --background-60: #f8f5ee;
    --background-10-1:#eae5d2;
    --background-10-2: #f0ecdb;
    --background-10-3: #0E2F89;
    --background-10-4: #4EA3E1;

    --special-title-10: #c86f00;
    --special-title-30: #0E2F89;
    --special-text-60: #263b74;
    --menu-hyperlinks: #c8a100;
    --menu-hyperlinks-hover: #c8a100;
    --normal-text-10: #2b2b2b;

    --block-item-1: #8fb200;
    --block-item-2: #004272;
}

* {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
    transition: all 0.4s;
    font-size: 22px;
}

html, body {
    background-color: var(--background-60);
    color: var(--normal-text-10);
    font-family: "Roboto Flex", serif;
    font-optical-sizing: auto;
}
section {
    padding: 3vh 0;
}

a {
    text-decoration: none;
    padding: 10px 10px;
    text-shadow: none;
    font-size: 18px;
}

.center {
    display: flex;
    width: 100%;
    max-width: 1300px;
    min-height: 6vh; 
    padding: 0 2vw;
    align-items: normal;
}

.section-block {
    max-width: 70%;
    vertical-align: middle;
    align-items: center;
    padding: 10px;
}

h1 {
    padding-bottom: 60px;
    font-size: 40px;
    color: var(--special-title-10)
}

h2 {
    padding-bottom: 20px;
    font-size: 30px;
    font-weight: 500;
    width: 100%;
    color: var(--special-title-30)
}

li {
    list-style: none;
    padding: 10px 0;
    font-weight: 500;
    color: var(--special-text-60)
}

h3 {
    padding-bottom: 20px;
    font-size: 30px;
    color: var(--special-title-10);
    text-align: center;
}

p {
    padding: 20px 0;
    color: var(--normal-text-10)
}

.whatsapp-contact {
    background-color: #2ab318;
    padding: 16px 22px 24px 22px;
    border-radius: 30px;
    color: white;
    font-weight: 200;
    font-size: 30px;
    border: 0px solid #36af27;
    margin-top: 60px;
    font-style: italic;
    font-family: "Lora", serif;
    font-optical-sizing: auto;
}

.whatsapp-contact i {
    font-size: 30px;
}

.whatsapp-contact:hover {
    padding: 16px 40px 24px 40px;
    background-color: #269018;
}

/* header  */

.site-header {
    display: flex;
    padding: 20px 0;
    vertical-align: center;
    background-color: var(--background-10-2);

}

.site-header .menu-header-bar-web {
    display: flex;
    vertical-align: middle;
}

.site-header .menu-header-bar-web a {
    cursor: pointer;
    color: var(--normal-text-10);
    position: relative;
    padding: 1px 14px;
    font-size: 20px;
}

.site-header .menu-header-bar-web a:hover{
    color: var(--menu-hyperlinks-hover);
}

.site-header .menu-header-bar-web a::before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 1px;
    background-color: var(--menu-hyperlinks);
    transition: width 0.2s, left 0.2s;
}

.site-header .menu-header-bar-web a:hover::before{
    width: 60%;
    left: 20%;
}


/* Presentation Section */

.presentation {
    background-color: var(--background-10-2);
    max-height: 800px;
    min-height: 500px;

}

.presentation ul {
    margin-bottom: 3vh;
}

/* about me section */

.about-me li {
    color: var(--normal-text-10);
}

/* about online therapy section  */

.about-online-therapy {
    background-color: var(--background-10-3);
    padding: 3vh 0;
}

.about-online-therapy  *{
    color: white !important;
}

.about-online-therapy {
    display: block;
}

.about-online-therapy-usages {
    background-color: var(--background-10-1);
    text-align: center;
    padding-bottom: 80px;
}

.grid-container-benefits {
    min-width: 100%;
    padding: 60px 0;
    display: grid;
    grid-template-columns: repeat(3, 300px);
    grid-template-rows: repeat(2, 150px);
    gap: 50px;
}

.grid-blocks-benefits i, .grid-blocks-benefits span{
    color: white;
    font-size: 30px;
    display: block;
    text-align: center;
    margin-bottom: 10px;
}

.grid-blocks-benefits{
    background-color: var(--block-item-1);
    padding: 30px;
    border-radius: 20px;
}

.benefits-about-services {
    background-color: var(--background-10-4);
}

.benefits-about-services h3 {
    color: white;
    font-size: 36px;
}

.services-container {
    width: 100%;
}

.grid-container-services {
    width: 100%;
    display: grid;
    padding: 50px 0;
    grid-template-columns: repeat(4, 1fr);
    gap: 5vw;
}

.grid-blocks-services {
    color: white
}

.grid-blocks-services p{
    font-size: 24px;
    text-align: center;
    line-height: 30px;
    margin-top:0.5vh;
}

.service-circle-icon {
    width: 150px;
    height: 150px;
    border-radius: 100px;
    background-color: var(--block-item-2);
    display: flex;    
    justify-content: center;
    align-items: center;
}

.grid-blocks-services i {
    font-size: 80px;
}

footer {
    padding: 50px 0;
    background-color: var(--background-10-1);
}